<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandax.litemall.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.pandax.litemall.bean.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="role_ids" jdbcType="VARCHAR" property="roleIds"
            typeHandler="com.pandax.litemall.handler.String2IntArrayTypeHandler"/>
  </resultMap>
  <sql id="adminInfo">
    id, username, password, last_login_ip, last_login_time, avatar, add_time, update_time
    deleted, role_ids
  </sql>
  <select id="selectAdmins" resultMap="BaseResultMap">
    select <include refid="adminInfo"/> from cskaoyan_mall_admin
    order by ${sort} ${order}
  </select>
</mapper>
